# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
.build/
dist/

# macOS
.DS_Store
*.swp

# Cursor / IDE
.idea/
*.xcworkspace/xcuserdata/
